<div class="container-categories">
  <div class="left">
<div class="form">
<div class="title"><strong>Nuevo problema</strong> </div>
<div class="subtitle">Nuevos retos para los conocimientos de los participantes</div>
<div class="body-form" [formGroup]="form">
  <div class="div-input2">
    Nombre del problema
    <input class="input2" formControlName="name">
  </div>
  <div class="div-input2">
    Descripción
    <textarea class="input2" formControlName="description"></textarea>
  </div>
  <div class="div-input-row ">
    <div class="div-input2">
      Entradas
      <input class="input2" formControlName="input">
    </div> <div class="div-input2">
      Salidas
      <input class="input2" formControlName="output">
    </div>
  </div>
  <div class="div-input2">
    Ejemplos entradas
    <textarea class="input2" formControlName="exampleInput"></textarea>
  </div>
  <div class="div-input2">
    Ejemplos salidas
    <textarea class="input2" formControlName="exampleOutput"></textarea>
  </div>
  <div class="div-input2">
    Dificultad
    <select class="input2"formControlName="difficulty">
      <option [value]="item" *ngFor="let item of dificultad">{{item}}</option>
    </select>
  </div>
<div class="actions">

  <div class="buttons"><button class="button" (click)="redirect('/problems/category/')">Cancelar</button><button class="button" (click)="saveProblem()">Crear</button></div>
</div>
</div>
</div>

  </div>
  <div class="right"><img src="assets/images/problems/icono_busqueda.png" alt="imagen no disponible"></div>
</div>
