<mat-card class="container-categories">
  <div class="left">
    <mat-card class="form">
      <mat-card-title class="title"><strong>Nuevo Material</strong></mat-card-title>
      <mat-card-subtitle class="subtitle">Nuevos temarios de retos</mat-card-subtitle>
      <mat-card-content [formGroup]="form">
        <div class="div-input2">
          <mat-form-field>
            <mat-label>Nombre del material</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
        </div>
        <div class="div-input2">
          <mat-form-field>
            <mat-label>Descripción del material</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
        </div>
        <div class="div-input2">
          <mat-form-field>
            <mat-label>Link de archivo</mat-label>
            <textarea matInput formControlName="linkField"></textarea>
          </mat-form-field>
        </div>
        <div class="div-input-row">
          <div class="div-input2">
            <mat-form-field>
              <mat-label>Tipo de archivo</mat-label>
              <mat-select formControlName="typeField">
                <mat-option *ngFor="let item of tipoArchivo" [value]="item">{{item}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="div-file">
            <p class="texto">Adicionar archivo</p>
            <input type="file" formControlName="field" [accept]="getFileAcceptValue()">
          </div>
        </div>
        <div class="actions">
          <div class="buttons">
            <button mat-button class="button" (click)="redirect('/materials/category/')">Cancelar</button>
            <button mat-button class="button" (click)="saveMaterial()">Crear</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="right">
    <mat-card>
    </mat-card>
  </div>
</mat-card>
