<div class="container-categories">
  <div class="title text-secondary">Categorias de Material</div>
  <div class="actions "><button class="button hiddenParticipante" (click)="redireccionarNuevaCategoria()">Nueva categoria</button>
  <div class="search" >
    <mat-checkbox color="primary" class="example-margin" [(ngModel)]="showInactivos"  (click)="mostrarInactivos()">Mostrar Inactivos</mat-checkbox>
  </div>
  </div>
  <div class="body-categories">

    <app-grid-materiales [data]="data" (eventEmmiter)="redirectWithCategoryData($event)"></app-grid-materiales>
    <div *ngIf="data.length === 0" class="no-category-message">
      <p class="message-text">NO HAY CATEGORÍA</p>
    </div>
  </div>
</div>
