<div class="container-categories">
  <div class="left">
    <div class="form">
      <div class="title"><strong>Nueva Categoría de Problemas</strong></div>
      <br>
      <div class="subtitle">Nuevos temarios de retos!</div>
      <br>
      <form [formGroup]="form" style="width: 100%;">

        <mat-form-field class="div-input2">
          <mat-label>Nombre de la categoría</mat-label>
          <input class="input2" matInput formControlName="name">
        </mat-form-field>

        <mat-form-field class="div-input2">
          <mat-label>Descripción de la categoría</mat-label>
          <textarea  matInput formControlName="description"></textarea>
        </mat-form-field>

        <div class="actions">
          <div class="div-file">
            <p class="texto">Agregar imagen</p>
            <input type="file" formControlName="image">
          </div>
          <br>
          <div class="buttons" style="width: 100%; text-align: center;">
            <button  mat-stroked-button color="warn" (click)="redirect('/problems')" style="width: 30%;">Cancelar</button>&nbsp;
            <button  mat-flat-button color="primary" (click)="saveCategory()" style="width: 30%;">Crear</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="right">
    <img src="assets/images/problems/icono_busqueda.png" alt="imagen no disponible">
  </div>
</div>
